* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1.text-center.mt-5.display-1.fw-bold.title {
  color: rgb(221, 181, 132);
}

td,
th {
  border: 1px solid #272626;
  text-align: left;
  padding: 10px;
}
tr:nth-child(even) {
  background-color: #dfdddd;
}
